$font-stack: Arial, Helvetica, sans-serif;
$light-color: #fcf1ef;
$primary-color: #927397;
$secondary-color: #efbabf;
$neutral-color: #e7d8c9;
$dark-color: #131313;
$hero-img: url('/assets/tim-goedhart-vnpTRdmtQ30-unsplash.jpg');
