.hero {
  background-image: url('../hero/wesley-tingey-57wo9F-r2-A-unsplash-min.jpg');
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  h4 {
    font-family: $secondary-font;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding-top: 10px;
  }
}
