@import 'config';
@import 'utilities';
@import 'mobile';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: $primary-font;
}

// Navigation
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: $primary-color;

  .logo {
    color: $light-color;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.5rem;
    cursor: default;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;

    li {
      list-style: none;
    }

    a {
      color: $light-color;
      text-decoration: none;
      letter-spacing: 3px;
      font-weight: bold;
      font-size: 0.75rem;
    }

    a:hover {
      color: $secondary-color;
    }
  }

  .burger {
    display: none;
    div {
      width: 25px;
      height: 3px;
      background-color: $light-color;
      margin: 5px;
      transition: transform 0.5s ease-in;
    }
  }
}

.nav-active {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

// Hero
@import 'hero';

// Cards
@import 'cards';

// About Hero
@import 'about';

// Contact
@import 'contact';

// Footer
footer {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  background-color: $primary-color;
  position: sticky;
  margin: 0;

  p {
    font-size: 0.75em;
    color: $light-color;
  }

  p:last-of-type {
    padding-bottom: 20px;
  }

  a {
    color: $secondary-color;
    text-decoration: none;
  }
}
